.background-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.img1,
.img2 {
    display: block;
    position: absolute;
    top: 0;
    will-change: transform;
	/* padding: 24px; */
}

.img1 {
    animation: mymove 20s linear infinite;
}

.img2 {
    animation: mymove2 20s linear infinite;
}

@keyframes mymove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-110%);
    }
}

@keyframes mymove2 {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0);
    }
}
