.player {
	padding: 16px 20px;
	border-radius: var(--16, 16px);
border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
background: var(--White-5, rgba(255, 255, 255, 0.03));
position: absolute;
    top: 24px;
    right: 24px;

/* BG blur */
backdrop-filter: blur(30px);
z-index: 10;

	&__wrapper {
		display: none;
	}

	&__buttons {
		display: flex;
		align-items: center;

		button {
			&:nth-child(1) {
				padding-top: 3px;
			}
		}
	}
}