@font-face {
	font-family: Raleway;
	src: url(./assets/fonts/Raleway/static/Raleway-Light.ttf);
}

@font-face {
	font-family: Unbounded;
	src: url(./assets/fonts/Unbounded/static/Unbounded-Light.ttf);
}

@font-face {
	font-family: Inter;
	src: url(./assets/fonts/Inter/static/Inter_18pt-Light.ttf);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background-color: rgb(7, 7, 8);
}

h3,h2,h1,p {
	margin: 0;
}

a {
    font-weight: 500;
    color: white;
    text-decoration: inherit;
    cursor: pointer;
}
a:hover {
    color: white;
}

body {
    margin: 0;
    min-width: 320px;
/* padding-right: 24px; */
    height: 100vh;
	font-family: Unbounded;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}
button:hover {
    border-color: none;
}

p {
    margin: 0;
}

